*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 100px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  &:focus,
  &:active{
    outline: none;
  }
}
body{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}
html{
  height: 100%;
}
a{
  text-decoration: none;
}
.btn{
  background: linear-gradient(270deg, #DA3B45 0%, #F17833 100%);
  font-style: normal;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  font-family: inherit;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
}
.display-none{
  display: none;
}
ul{
  list-style: none;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.main{
  flex: 1 1 auto;
  margin-top: 50px;
}
.category{
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  font-family: 'Avenir Next Cyr';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
  a{
    font-family: 'Avenir Next Cyr';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #828282;
  }
  img{
    margin: 0 5px;
  }
}


.title{
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #303030;
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 1px solid; 
  border-image-source: linear-gradient(270deg, #DA3B45 0%, #F17833 100%);
  border-image-slice: 1;
  margin-bottom: 20px;
  @include media($sm){
    font-size: 16px;
    line-height: 150%;
  }
}

.progress-bar{
  height: 36px;
  max-width: 800px;
  width: 100%;
  background: linear-gradient(0deg, #DEE1E2 21.68%, #D2D2D2 97.65%);
  margin: 0 auto;
  border-radius: 18px;
  @include media($sm){
    height: 12px;
  }
  &-track{
    background: linear-gradient(270deg, #DA3B45 0%, #F17833 100%);
    height: 100%;
    border-radius: 18px;
  }
}

.mt-95{
  margin-top: 95px;
}


input[type=file],
input[type=file]::-webkit-file-upload-button {
    cursor: pointer; 
}


.popup{
  background: #000000E5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  &.open{
    opacity: 1;
    visibility: visible;
  }
  &__body{
    background: #fff;
    max-width: 392px;
    width: 100%;
    min-height: 129px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &-title{
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn{
    width: 100px;
    height: 30px;
    &:first-child{
      margin-right: 20px;
    }
    &:last-child{
      background: none;
      border: 1px solid;
      border-image-source: linear-gradient(270deg, #DA3B45 0%, #F17833 100%);    
      border-image-slice: 1;
      font-size: 12px;
      line-height: 15px;
      color: #303030;
      font-weight: 600;  
    }
  }
  &__close{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.mb-50{
  margin-bottom: 50px;
}