.auth{
  &__title{
    width: 100%;
    text-align: center;
    padding: 14px 0;
    background: #EEF5FF;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #303030;
  }
  &__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 392px;
    width: 100%;
    margin: 25px auto 50px auto;
    padding: 0 15px;
  }
  &__label{
    font-family: 'Avenir Next Cyr';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #4F4F4F;
    margin-bottom: 10px;
  }
  &__restart-btn{
    margin-bottom: 10px;
    font-family: 'Avenir Next Cyr';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    text-decoration-line: underline;
    color: #828282;
    background: transparent;
  }
  &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__dropdown{
    &-button{
      height: 100%;
      background: #EFEFEF;
      border: 1px solid #C9C9C9;
      border-right: none;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      &-img{
        margin-right: 10px;
      }
    }
  }
  &__input{
    background: #EFEFEF;
    border: 1px solid #C9C9C9;
    height: 30px;
    flex: 1 1 auto;
    padding-left: 10px;
    font-family: 'Avenir Next Cyr';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #4F4F4F;
    position: relative;
    width: 100%;
    height: 30px;
    &::placeholder{
      font-size: 12px;
      line-height: 15px;
    }
    &-span{
      position: absolute;
      top: 0;
      height: 100%;
      left: 0;
      &::before{
        content: attr(data-value);
        position: absolute;
        left: 60px;
        z-index: 1;
        top: 50%;
        width: 50px;
        height: 10px;
        transform: translateY(-50%);
        font-family: 'Avenir Next Cyr';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: #4F4F4F;
      }
      &::after{
        content: ')';
        position: absolute;
        left: 110px;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        height: 10px;
        font-family: 'Avenir Next Cyr';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: #4F4F4F;
      }
    }
  }
  .iti{
    height: 30px;
    width: 100%;
  }
  &__btn{
    width: 100%;
    height: 40px;
    margin-top: 30px;
  }
}