mixin carousel()
  .carousel#intro
    .carousel__item
      .carousel__item-content.custom-container.container-sm
        p.carousel__title Пришел. Поставил.
        p.carousel__subtitle победил!
        a(href="#!").btn.carousel__btn Вперед 
      .carousel__item-images 
        img(src="images/rectangle-2.webp", alt="").carousel__item-bg
        img(src="images/ronaldo.webp", alt="").carousel__item-img
    .carousel__item
      .carousel__item-content.container 
        p.carousel__title Без риска
        p.carousel__subtitle 100%
        a(href="#!").btn.carousel__btn Вперед 
      .carousel__item-images 
        img(src="images/rectangle-2.webp", alt="").carousel__item-bg
        img(src="images/hockey.webp", alt="").carousel__item-img
    
