mixin header()
  .header 
    .header__nav.container
      .header__main-button
        .header__main-button-line
      .header__left
        a(href="index.html").header__logo LOGO
        ul.header__list 
          li.header__li 
            a(href="index.html").header__link Главная 
          li.header__li 
            a(href="index.html").header__link Виды спорта 
          li.header__li 
            a(href="index.html").header__link Статистика
          li.header__li 
            a(href="index.html").header__link Результаты
          li.header__li 
            a(href="index.html").header__link О нас
      .header__right
        .header__lang 
          button(onclick="addActiveDrop(this)").header__lang-btn Ru <img src="images/polygon.svg">
          .header__lang-list 
            button.header__lang-item Eng
            button.header__lang-item Ua
            button.header__lang-item Fr
        .header__right-menu
          a(href="auth.html").header__register Авторизация
        .header__right-menu-button 
          .header__right-menu-button-dot 