mixin sports()
  .sports#sports
    .sports__body.container 
      .sports__top 
        button.sports__top-item.active
          img(src="images/football.svg", alt="")
          p Футбол
        button.sports__top-item
          img(src="images/basketball.svg", alt="")
          p Баскетбол
        button.sports__top-item
          img(src="images/hockey-stick.svg", alt="")
          p Хоккей
        button.sports__top-item
          img(src="images/box.svg", alt="")
          p Бокс
      .sports__content 
        p.sports__title Украина. Премьер-лига
        .sports__row 
          .sports__col.sports__name
            p.sports__desc Черноморец Одесса
            p.sports__desc Шахтер Донецк
          .sports__col
            .sports__item   
              p.sports__item-title Черноморец Одесса
              p.sports__item-p 9.60
          .sports__col
            .sports__item   
              p.sports__item-title Ничья
              p.sports__item-p 5.10
          .sports__col
            .sports__item   
              p.sports__item-title Шахтер Донецк
              p.sports__item-p 1.33
          .sports__col
            .sports__item
              button.sports__item-fav
                img(src="images/star.svg", alt="star").sports__item-img
          .sports__col.sports__item-with-btn 
            a(href="auth.html").sports__item-btn.btn Сделать ставку
        .sports__row 
          .sports__col.sports__name
            p.sports__desc Черноморец Одесса
            p.sports__desc Шахтер Донецк
          .sports__col
            .sports__item   
              p.sports__item-title Черноморец Одесса
              p.sports__item-p 9.60
          .sports__col
            .sports__item   
              p.sports__item-title Ничья
              p.sports__item-p 5.10
          .sports__col
            .sports__item   
              p.sports__item-title Шахтер Донецк
              p.sports__item-p 1.33
          .sports__col
            .sports__item
              button.sports__item-fav
                img(src="images/star.svg", alt="star").sports__item-img
          .sports__col.sports__item-with-btn 
            a(href="auth.html").sports__item-btn.btn Сделать ставку
        .sports__row 
          .sports__col.sports__name
            p.sports__desc Черноморец Одесса
            p.sports__desc Шахтер Донецк
          .sports__col
            .sports__item   
              p.sports__item-title Черноморец Одесса
              p.sports__item-p 9.60
          .sports__col
            .sports__item   
              p.sports__item-title Ничья
              p.sports__item-p 5.10
          .sports__col
            .sports__item   
              p.sports__item-title Шахтер Донецк
              p.sports__item-p 1.33
          .sports__col
            .sports__item
              button.sports__item-fav
                img(src="images/star.svg", alt="star").sports__item-img
          .sports__col.sports__item-with-btn 
            a(href="auth.html").sports__item-btn.btn Сделать ставку
        .sports__row 
          .sports__col.sports__name
            p.sports__desc Черноморец Одесса
            p.sports__desc Шахтер Донецк
          .sports__col
            .sports__item   
              p.sports__item-title Черноморец Одесса
              p.sports__item-p 9.60
          .sports__col
            .sports__item   
              p.sports__item-title Ничья
              p.sports__item-p 5.10
          .sports__col
            .sports__item   
              p.sports__item-title Шахтер Донецк
              p.sports__item-p 1.33
          .sports__col
            .sports__item
              button.sports__item-fav
                img(src="images/star.svg", alt="star").sports__item-img
          .sports__col.sports__item-with-btn 
            a(href="auth.html").sports__item-btn.btn Сделать ставку
          