mixin start()
  .start
    .start__body.container
      h2.start__title Как начать
      .start__content 
        .start__item 
          p.start__item-title 1. Зарегистрироваться
          .start__item-right 
            p.start__item-p Нажмите на кнопку «Регистрация» <br>и введите данные для входа
            a(href="#!").start__item-link <img src="images/right-arrow.svg"> 
        .start__item 
          p.start__item-title 2. Сделай первую ставку
          .start__item-right 
            p.start__item-p Нажмите на кнопку «Регистрация» <br>и введите данные для входа
            a(href="#!").start__item-link <img src="images/right-arrow.svg"> 
        .start__item 
          p.start__item-title 3. Сделай первую ставку
          .start__item-right 
            p.start__item-p Нажмите на кнопку «Регистрация» <br>и введите данные для входа
            a(href="#!").start__item-link <img src="images/right-arrow.svg"> 