mixin your()
  .your 
    .your__body.container
      h2.start__title.your__title Твой букмейкер
      .your__content 
        .your__item
          img(src="images/muscle.svg", alt="").your__item-img
          .your__item-texts 
            p.your__item-title Возможности
            p.your__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo, morbi sit malesuada ut.
        .your__item
          img(src="images/security.svg", alt="").your__item-img
          .your__item-texts 
            p.your__item-title Безопасность
            p.your__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo, morbi sit malesuada ut.
        .your__item
          img(src="images/honesty.svg", alt="").your__item-img
          .your__item-texts 
            p.your__item-title Все честно
            p.your__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo, morbi sit malesuada ut.
        .your__item
          img(src="images/support.svg", alt="").your__item-img
          .your__item-texts 
            p.your__item-title Постоянная поддержка
            p.your__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo, morbi sit malesuada ut.
