doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="styles/index.css")
  body 
    .wrapper 
      include components/header.pug 
      +header2
      main.main 
        .football
          .football__body.container
            h2.title.mt-95 Рассчитанные ставки
            .football__content 
              p.sports__title.football__title Украина. Премьер-лига
              .sports__row.rates__row 
                .rates__item
                  p.rates__item-data <span>#13354</span> / 12 июля 2021 0:32
                  .rates__item-content 
                    p.rates__item-title Больше 9.5 <span>1.72</span>
                    p.rates__item-p Тотал, Серия пенальти
                    p.rates__item-p <img src="images/ball.svg">21 августа 2021 19:30, Черноморец Одесса - Шахтер Донецк
                    p.rates__item-p Bet total: 50.00 UAH
                    p.rates__item-p.green Выплата: 86.00 UAH <span class="orange">Итог события: 1 : 1 (0:1,1:0)<span>
                .rates__item
                  p.rates__item-data <span>#13354</span> / 12 июля 2021 0:32
                  .rates__item-content 
                    p.rates__item-title Больше 9.5 <span>1.72</span>
                    p.rates__item-p Тотал, Серия пенальти
                    p.rates__item-p <img src="images/ball.svg">21 августа 2021 19:30, Черноморец Одесса - Шахтер Донецк
                    p.rates__item-p Bet total: 50.00 UAH
                    p.rates__item-p.green Выплата: 86.00 UAH <span class="orange">Итог события: 1 : 1 (0:1,1:0)<span>
                  
      include components/footer.pug 
      +footer

    script(src="scripts/index.js") 