doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="styles/index.css")
  body 
    .wrapper 
      include components/header.pug 
      +header2
      main.main 
        .football
          .football__body.container
            .category.football__category <a href="index.html">Главная</a> <img src="images/category.svg"> Футбол
            .football__content 
              p.sports__title.football__title Украина. Премьер-лига
              .sports__row.football__row.football__row_2 
                h3.football__name Черноморец Одесса
                .football__start
                  p.football__start-date 21 августа
                  p.football__start-time 19:30
                h3.football__name Шахтер Донецк
              p.football__subtitle Победитель матча (основное время) 
              .football__forecast
                button.football__forecast-item
                  p.football__forecast-p Черноморец Одесса
                  .football__forecast-col 
                    p.football__forecast-p_small +0.35
                    p.football__forecast-p_orange 9.60
                button.football__forecast-item
                  p.football__forecast-p Ничья
                  .football__forecast-col 
                    p.football__forecast-p_small +0.35
                    p.football__forecast-p_orange 5.10
                button.football__forecast-item
                  p.football__forecast-p Шахтер Донецк
                  .football__forecast-col 
                    p.football__forecast-p_small +0.35
                    p.football__forecast-p_orange 1.33
              p.football__subtitle Двойной исход
              .football__forecast
                button.football__forecast-item
                  p.football__forecast-p Черноморец Одесса не...
                  .football__forecast-col 
                    p.football__forecast-p_small +0.35
                    p.football__forecast-p_orange 1.17
                button.football__forecast-item
                  p.football__forecast-p Не будет ничьей
                  .football__forecast-col 
                    p.football__forecast-p_small +0.35
                    p.football__forecast-p_orange 1.35
                button.football__forecast-item
                  p.football__forecast-p Шахтер Донецк не победит
                  .football__forecast-col 
                    p.football__forecast-p_small +0.35
                    p.football__forecast-p_orange 1.92
              p.football__subtitle Тотал
                .football__forecast-top 
                  p.football__forecast-top-p
                  p.football__forecast-top-p Больше
                  p.football__forecast-top-p Меньше
                .football__forecast 
                  .football__forecast-col
                    button.football__forecast-item_sm
                      p.football__forecast-p_blue.football__forecast-p_changable 1.17
                    button.football__forecast-item_sm
                      p.football__forecast-p_blue.football__forecast-p_changable 1.17
                    button.football__forecast-item_sm
                      p.football__forecast-p_blue.football__forecast-p_changable 1.17
                    button.football__forecast-item_sm
                      p.football__forecast-p_blue.football__forecast-p_changable 1.17
                    button.football__forecast-item_sm
                      p.football__forecast-p_blue.football__forecast-p_changable 1.17
                    button.football__forecast-item_sm
                      p.football__forecast-p_blue.football__forecast-p_changable 1.17
                  .football__forecast-col
                    button.football__forecast-item_sm
                      p.football__forecast-p_orange.football__forecast-p_changable(data-value="+0.35") 1.35
                    button.football__forecast-item_sm
                      p.football__forecast-p_orange.football__forecast-p_changable(data-value="+0.35") 1.35
                    button.football__forecast-item_sm
                      p.football__forecast-p_orange.football__forecast-p_changable 1.35
                    button.football__forecast-item_sm
                      p.football__forecast-p_orange.football__forecast-p_changable 1.35
                    button.football__forecast-item_sm
                      p.football__forecast-p_orange.football__forecast-p_changable 1.35
                    button.football__forecast-item_sm
                      p.football__forecast-p_orange.football__forecast-p_changable 1.35
                  .football__forecast-col
                    button.football__forecast-item_sm
                      p.football__forecast-p_orange.football__forecast-p_changable(data-value="+0.35") 1.92
                    button.football__forecast-item_sm
                      p.football__forecast-p_orange.football__forecast-p_changable(data-value="+0.35") 1.92
                    button.football__forecast-item_sm
                      p.football__forecast-p_orange.football__forecast-p_changable 1.92
                    button.football__forecast-item_sm
                      p.football__forecast-p_orange.football__forecast-p_changable 1.92
                    button.football__forecast-item_sm
                      p.football__forecast-p_orange.football__forecast-p_changable 1.92
                    button.football__forecast-item_sm
                      p.football__forecast-p_orange.football__forecast-p_changable 1.92
              .football__btns 
                button.football__btn_longer.btn Сделать ставку
                a(href="#!").football__btn_longer.football__btn_with-i <img src="images/telegram-2.svg">Индивидуальный кофициент
              p.football__p_light (Ваша ставка 100 грн, возможный выигрыш 275 грн)
      include components/footer.pug 
      +footer

    script(src="scripts/index.js") 