doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="styles/index.css")
  body 
    .wrapper 
      include components/header.pug 
      +header2
      main.main 
        .football
          .football__body.mb-50.container
            h2.title.mt-95 История вывода средств
            .payout__history-row 
              .payout__history-item
                p.payout__history-p Способ пополнения
                .payout__history-item-content
                  p.payout__history-item-p <img src="images/sberbank.webp"> Privat 24
              .payout__history-item
                p.payout__history-p Сумма пополнения
                .payout__history-item-content
                  p.payout__history-item-p 5000 UAH
              .payout__history-item
                p.payout__history-p Дата пополнения
                .payout__history-item-content
                  p.payout__history-item-p 28.08.2021
              .payout__history-item
                p.payout__history-p Время пополнения
                .payout__history-item-content
                  p.payout__history-item-p 15:15:15
              .payout__history-item
                p.payout__history-p Статус
                .payout__history-item-content.success
                  p.payout__history-item-p УСПЕШНО
            .payout__history-row.off-on-mobile 
              .payout__history-item
                p.payout__history-p Способ пополнения
                .payout__history-item-content
                  p.payout__history-item-p <img src="images/sberbank.webp"> Privat 24
              .payout__history-item
                p.payout__history-p Сумма пополнения
                .payout__history-item-content
                  p.payout__history-item-p 5000 UAH
              .payout__history-item
                p.payout__history-p Дата пополнения
                .payout__history-item-content
                  p.payout__history-item-p 28.08.2021
              .payout__history-item
                p.payout__history-p Время пополнения
                .payout__history-item-content
                  p.payout__history-item-p 15:15:15
              .payout__history-item
                p.payout__history-p Статус
                .payout__history-item-content.success
                  p.payout__history-item-p УСПЕШНО
            .payout__history-row.off-on-mobile 
              .payout__history-item
                p.payout__history-p Способ пополнения
                .payout__history-item-content
                  p.payout__history-item-p <img src="images/sberbank.webp"> Privat 24
              .payout__history-item
                p.payout__history-p Сумма пополнения
                .payout__history-item-content
                  p.payout__history-item-p 5000 UAH
              .payout__history-item
                p.payout__history-p Дата пополнения
                .payout__history-item-content
                  p.payout__history-item-p 28.08.2021
              .payout__history-item
                p.payout__history-p Время пополнения
                .payout__history-item-content
                  p.payout__history-item-p 15:15:15
              .payout__history-item
                p.payout__history-p Статус
                .payout__history-item-content.success
                  p.payout__history-item-p УСПЕШНО
            .payout__history-row.off-on-mobile 
              .payout__history-item
                p.payout__history-p Способ пополнения
                .payout__history-item-content
                  p.payout__history-item-p <img src="images/sberbank.webp"> Privat 24
              .payout__history-item
                p.payout__history-p Сумма пополнения
                .payout__history-item-content
                  p.payout__history-item-p 5000 UAH
              .payout__history-item
                p.payout__history-p Дата пополнения
                .payout__history-item-content
                  p.payout__history-item-p 28.08.2021
              .payout__history-item
                p.payout__history-p Время пополнения
                .payout__history-item-content
                  p.payout__history-item-p 15:15:15
              .payout__history-item
                p.payout__history-p Статус
                .payout__history-item-content.error
                  p.payout__history-item-p НЕ УДАЛОСЬ
            .payout__history-row.off-on-mobile 
              .payout__history-item
                p.payout__history-p Способ пополнения
                .payout__history-item-content
                  p.payout__history-item-p <img src="images/sberbank.webp"> Privat 24
              .payout__history-item
                p.payout__history-p Сумма пополнения
                .payout__history-item-content
                  p.payout__history-item-p 5000 UAH
              .payout__history-item
                p.payout__history-p Дата пополнения
                .payout__history-item-content
                  p.payout__history-item-p 28.08.2021
              .payout__history-item
                p.payout__history-p Время пополнения
                .payout__history-item-content
                  p.payout__history-item-p 15:15:15
              .payout__history-item
                p.payout__history-p Статус
                .payout__history-item-content.error
                  p.payout__history-item-p НЕ УДАЛОСЬ
            .payout__history-row.off-on-mobile 
              .payout__history-item
                p.payout__history-p Способ пополнения
                .payout__history-item-content
                  p.payout__history-item-p <img src="images/sberbank.webp"> Privat 24
              .payout__history-item
                p.payout__history-p Сумма пополнения
                .payout__history-item-content
                  p.payout__history-item-p 5000 UAH
              .payout__history-item
                p.payout__history-p Дата пополнения
                .payout__history-item-content
                  p.payout__history-item-p 28.08.2021
              .payout__history-item
                p.payout__history-p Время пополнения
                .payout__history-item-content
                  p.payout__history-item-p 15:15:15
              .payout__history-item
                p.payout__history-p Статус
                .payout__history-item-content.error
                  p.payout__history-item-p НЕ УДАЛОСЬ
            .payout__history-pagination 
              button.payout__history-pagination-arrow.payout__history-pagination-prev <img src="images/down-arrow-orange.svg">
              button.payout__history-pagination-btn.active 1
              button.payout__history-pagination-btn 2
              button.payout__history-pagination-btn 3
              button.payout__history-pagination-btn ...
              button.payout__history-pagination-btn 10
              button.payout__history-pagination-arrow.payout__history-pagination-next <img src="images/down-arrow-orange.svg">
      include components/footer.pug 
      +footer

    script(src="scripts/index.js") 